<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXC2APSVcdc2BrOOL7176S-Lk33S8LU3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>858735033983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-51867</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-51867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858735033983:ios:1eb23f21dc77352528494a</string>
</dict>
</plist>